name: Node CI/CD

on: [push, pull_request]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node 20.X
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          cache: "npm"

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test

      - name: Build project
        run: npm run build

      - name: Docker Build & Push (main branch only)
        if: github.ref == 'refs/heads/main'
        run: |
          docker build -t node-ci-cd:latest .
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
          docker tag node-ci-cd:latest ${{ secrets.DOCKER_USERNAME }}/node-ci-cd:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/node-ci-cd:latest
